.tryptique , .KandL , .KandL2 , .VandM , .VandM2 {
  text-align: center;
}

.pose1, .pose2, .pose3 {
  width: 30%;
}

.img1, .img2, .img3, .img4 {
  width: 90%;
}

p {
  text-align: justify;
  margin : 5%;
  font-size: 0.9em;
}


h1{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin : 5%;
}

h2 {
  text-align: center;

  font-size: 1.4em;
  color : white;

  background : linear-gradient(to right, #02CCBA , #AA7eCD);
  border-radius: 20px;

  margin: 5%;
  padding-top: 1%;
  padding-bottom: 1%;

}

@media only screen and (min-width: 768px) {

  /*Desktop*/

}
