#Presentation_contact p {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;

}

#Presentation_contact h1 {
  text-align: center;
}
#Presentation_contact img {
  width: 80%;
  height: auto;
  border-radius: 50%;
  margin-left: 10%;
}

#Reseaux p {
  display:inline-block;
  width:44%;
  vertical-align: top;
  margin: 2% 0% 0% 5%;

}

#Reseaux h1 {
  text-align: center;
}
#Reseaux img {
  margin-left: 15%;
  display:inline-block;
  width:10%;
  height: 10%;
  margin-bottom: 5%;
}




@media only screen and (min-width: 768px) {

  /*Desktop*/

}
