h1{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin : 5%;
}

p {
  text-align:justify;
  margin: 5%;
  font-size: 0.75em;
}

.darkgray{
  color : #585858;
  font-weight: bold;
}

h2 {
  text-align: center;

  font-size: 1.4em;
  color : white;

  background : linear-gradient(to right, #02CCBA , #AA7eCD);
  border-radius: 20px;

  margin: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#savoirFaire {
  width: 100%;
  margin: auto;
}

.img1 {
  width: 90%;
  margin-left: 5%;
}

#cuirs {
  width: 100%;
  margin: auto;
}

.img2 {
  width: 90%;
  margin-left: 5%;
}

#semelle {
  width: 100%;
  margin: auto;
}

.img3 {
  width: 90%;
  margin-left: 5%;
}

#doublure {
  width: 100%;
  margin: auto;
}

.img4 {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}

@media only screen and (min-width: 768px) {

  /*Desktop*/
p {
  font-size: 1em;
  margin-top: 3%;
  margin-bottom: 3%;
}


}
