h1{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin : 5%;
}

p {
  text-align:justify;
  margin: 5%;
  font-size: 0.75em;
}

.darkgray{
  color : #585858;
  font-weight: bold;
}

h2 {
  text-align: center;

  font-size: 1.4em;
  color : white;

  background : linear-gradient(to right, #02CCBA , #AA7eCD);
  border-radius: 20px;

  margin: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#savoirFaire {
  width: 100%;
  margin: auto;
}

.img1 {
  width: 80%;
  margin-left: 10%;
}

#cuirs {
  width: 100%;
  margin: auto;
}

.img2 {
  width: 80%;
  margin-left: 10%;
}

#semelle {
  width: 100%;
  margin: auto;
}

.img3 {
  width: 80%;
  margin-left: 10%;
}

#doublure {
  width: 100%;
  margin: auto;
}

.img4 {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.cSavoirFaire img, .cSemelle img, .cCuirs img, .cDoublure img {
  border-radius: 7%;
}

@media only screen and (min-width: 768px) {

  /*Desktop*/
p {
  font-size: 1em;
  margin-top: 3%;
  margin-bottom: 3%;
}

.cSavoirFaire, .cCuirs, .cSemelle, .cDoublure {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cSavoirFaireImg, .cCuirsImg, .cSemelleImg, .cDoublureImg {
  width: 45%;
}

.cSavoirFaireText, .cCuirsText, .cSemelleText, .cDoublureText  {
  width: 55%;
  padding: 5%;
  align-self: center;
}

.cSavoirFaireText p, .cSemelleText p {
  text-align: center;
  margin: 0;
  margin-left: 10%;
}

.cCuirsText p, .cDoublureText p {
  text-align: center;
  margin: 0;
  padding-right: 10%;
}

.cSavoirFaireImg, .cSemelleImg {
  margin-right: 10%;
}

.cSavoirFaire img, .cSemelle img {
  width: 100%;
  margin: 0;
}

.cCuirs, .cDoublure {
  flex-direction: row-reverse;
}

.cCuirsImg, .cDoublureImg {
    margin-left: 10%;
}

.cCuirs img, .cDoublure img {
  width: 100%;
  margin: 0;
}
