blockquote {
  margin: 5%;
  text-align: center;
  font-style: italic;
  color: #585858;
  font-size: 1em;
}

p {
  margin: 5%;
  text-align: justify;
  font-size: 0.75em;
}

.images {
  width: 90%;
  height: auto;

  margin: auto;
}

.imgLeft .img1, .imgLeft .img2 {
  width: 49%;
}

.imgLeft .img2 {
  float: right;
}

.imgRight .img4, .imgRight .img5 {
  width: 49%;
}

.imgRight .img5 {
  float: right;
}

.imgCenter .img3 {
  width: 100%;
  margin-bottom: 1%;
  margin-top : 1%;
}

.imgDesktop1, .imgDesktop2 {
  display: none;
}

@media only screen and (min-width: 768px) {

blockquote {
  font-size: 1.9em;
}

p {
  font-size: 1em;
  margin : 0 5% 0 5%;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.imgLeft{
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imgLeft .img1, .imgLeft .img2 {
  width: 100%;
}

.imgDesktop1 {
  display: block;
  width: 100%
}

.imgCenter{
  width: 45%;
}

.imgCenter .img3 {
  margin: 0;
}

.imgRight {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imgRight .img4, .imgRight .img5 {
  width: 100%;
}

.imgDesktop2 {
  display: block;
  width: 100%
}


}
